.loading-modal {
  position: fixed;
  width: 100%;
  height: 200vh;
  background: rgba(0, 0, 0, 0.50);
  z-index: 999;
  padding-top: 40vh;
  top: 0;
  left: 0;
  text-align: center;
}

.loading-modal img {
  display: inline-block;
  animation: spin 1s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.dropdown {
  display: none;
}

.img-item {
  background-size: contain !important;
  background-position: center !important;
}

.colorpicker {
  z-index: 999;
}
