<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>art_in_you</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="css/normalize.css" rel="stylesheet" type="text/css">
    <link href="css/webflow.css" rel="stylesheet" type="text/css">
    <link href="css/art-in-you.webflow.css" rel="stylesheet" type="text/css">

    <script src="js/modernizr.js" type="text/javascript"></script>
</head>

<body>
    <div class="w-container">
        <form id="fileupload" action="http://jquery-file-upload.appspot.com/" method="POST" enctype="multipart/form-data">
            <div class="upload-box fileupload-buttonbar">
                <div class="upload-area">
                        <div class="title-upload-area">
                            <div>Drag image here</div>
                            <div class="or-text">or</div>
                            <input type="file" name="files[]" multiple>
                        </div>
                </div>
                <div class="upload-list-box">
                    <div class="files"></div>
                    <!-- The template to display files available for upload -->
                    <script id="template-upload" type="text/x-tmpl">
                        {% for (var i=0, file; file=o.files[i]; i++) { %}
                        <div class="upload-list template-upload">
                            <div class="w-row">
                                <div class="w-col w-col-2 w-col-small-2 w-col-tiny-2">
                                    <span class="preview"></span>
                                </div>
                                <div class="w-col w-col-10 w-col-small-10 w-col-tiny-10">
                                    <div class="upload-list-title">{%=file.name%}</div>
                                    <div class="upload-list-detail w-clearfix">
                                        <strong class="error text-danger"></strong>
                                        {% if (!i && !o.options.autoUpload) { %}
                                        <div class="btn btn-primary start" disabled></div>
                                        {% } %} 

                                        {% if (!i) { %}
                                        <div class="cancel-bb-upload cancel">X</div>
                                        {% } %}


                                    </div>
                                </div>
                            </div>
                            <div class="upload-loading w-clearfix">
                                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                    <div class="upload-progress progress-bar progress-bar-success" style="width:0%;"></div>
                                </div>
                            </div>
                        </div>
                        {% } %}
                    </script>
                    <!-- The template to display files available for download -->
                    <script id="template-download" type="text/x-tmpl">
                        {% for (var i=0, file; file=o.files[i]; i++) { %}
                        <div class="template-download upload-list">
                            <div class="upload-list-title">{%=file.name%}</div>
                            <div class="upload-list-detail w-clearfix">
                                {% if (file.error) { %}
                                <div>Error: {%=file.error%}</div>
                                {% } %}
                                <div>Size: {%=o.formatFileSize(file.size)%}</div>
                                {% if (file.deleteUrl) { %}
                                    <div class="cancel-bb-upload delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}" {% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}' {% } %}>X</div>
                                {% } else { %}
                                    <div class="cancel-bb-upload cancel">X</div>
                                {% } %}
                            </div>
                        </div>
                        {% } %}
                    </script>
                    <div class="upload-footer">
                        <div class="w-row">
                            <div class="w-col w-col-4 w-col-small-4 w-col-tiny-6">
                                <button type="reset" class="skip-bb cancel">Skip this step</button>
                            </div>
                            <div class="w-col w-col-8 w-col-small-8 w-col-tiny-6">
                                <button type="submit" class="done-bb w-button start">Select images</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>

    <script src="js/vendor/jquery.ui.widget.js"></script>
    <script src="http://blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
    <script src="http://blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
    <script src="http://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>

    <script src="js/jquery.fileupload.js"></script>
    <script src="js/jquery.fileupload-process.js"></script>
    <script src="js/jquery.fileupload-image.js"></script>

    <script src="js/jquery.fileupload-validate.js"></script>
    <script src="js/jquery.fileupload-ui.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
