.upload-box {
  padding: 50px;
}

.upload-area {
  display: block;
  height: 300px;
  max-width: 500px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  border: 3px dashed #a9a8a9;
  background-color: #eee;
}

.title-upload-area {
  padding-top: 100px;
  color: #adadad;
  font-size: 16px;
  text-align: center;
}

.or-text {
  margin-top: 20px;
  margin-bottom: 20px;
}

.upload-button {
  padding: 15px 30px;
  border-radius: 5px;
}

.upload-list-box {
  display: block;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.upload-list {
  margin-bottom: 25px;
  font-size: 16px;
}

.upload-list-title {
  margin-bottom: 5px;
}

.upload-list-detail {
  position: relative;
  color: #afafaf;
  font-size: 14px;
}

.text {
  display: inline;
}

.text.red {
  color: red;
}

.cancel-bb-upload {
  position: relative;
  top: -5px;
  width: 27px;
  height: 27px;
  float: right;
  border-radius: 50%;
  background-color: #bbb;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: #fff;
  line-height: 27px;
  text-align: center;
}

.upload-loading {
  overflow: hidden;
  height: 8px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #eee;
}

.upload-progress {
  width: 0px;
  height: 10px;
  max-width: 100%;
  float: left;
  background-color: #0085df;
}

.done-bb {
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  text-align: center;
}

.done-bb.green {
  background-color: #74bf2f;
}

.skip-bb {
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  background-color: transparent;
  color: #b3b3b3;
  text-align: center;
}

.upload-footer {
  padding-top: 20px;
}

.diy-box {
  padding-top: 50px;
  padding-bottom: 50px;
}

.diy-tool-box {
  margin-top: 10px;
  margin-bottom: 10px;
}

.diy-tool-card {
  position: relative;
  height: 62px;
  margin: 10px;
  padding: 10px;
  float: none;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  color: #929292;
  line-height: 38px;
  text-align: center;
}

.diy-tool-card.color.mini {
  height: 40px;
  margin-right: 0px;
  padding: 5px;
  font-size: 12px;
  line-height: 30px;
}

.diy-tool-card.first {
  margin-left: 0px;
}

.diy-color-box {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  float: left;
  border: 1px solid #cacaca;
  border-radius: 3px;
  background-color: #eee;
}

.diy-color-box.mini {
  width: 28px;
  height: 28px;
}

.custom-box {
  overflow: hidden;
  width: 460px;
  height: 460px;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  background-color: #eee;
}

.colum-tool {
  padding-right: 0px;
  padding-left: 0px;
}

.obj-icon {
  margin-right: 20px;
}

.diy-description {
  margin-top: 10px;
  color: #7e7e7e;
  text-align: center;
}

.icon-description {
  margin-right: 15px;
}

.footer-diy {
  margin-top: 70px;
  font-size: 16px;
}

.dropdown {
  position: absolute;
  left: 0px;
  top: 60px;
  right: 0px;
  z-index: 5;
  width: 100%;
  min-height: 50px;
  padding: 10px 5px;
  border: 1px solid #eee;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
}

.dropdown.shape {
  width: 150%;
  margin-left: -25%;
  padding-right: 10px;
  padding-left: 10px;
}

.color-item {
  width: 30px;
  height: 30px;
  margin: 5px;
  float: left;
  background-color: #c7c7c7;
}

.select-item-dropdown {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
  background-color: #e64b44;
  font-size: 12px;
  line-height: 20px;
}

.arrow-dropdown {
  position: absolute;
  left: 0px;
  top: -12px;
  right: 0px;
  display: block;
  width: 10px;
  margin-right: auto;
  margin-left: auto;
  border-right: 10px solid transparent;
  border-bottom: 12px solid #fff;
  border-left: 10px solid transparent;
}

.arrow-dropdown.gray {
  top: -14px;
  border-right-width: 11px;
  border-bottom-color: #eee;
  border-left-width: 11px;
}

.imsert-img-scroll-box {
  overflow: auto;
}

.img-item {
  width: 60px;
  height: 60px;
  margin-right: 5px;
  margin-left: 5px;
  float: left;
  background-color: #eee;
}

.img-inside-scroll-box {
  width: 500px;
}

.diy-input-dropdown {
  display: inline-block;
}

@media (max-width: 991px) {
  .custom-box {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .diy-description {
    margin-bottom: 20px;
  }
  .footer-diy {
    margin-top: 50px;
  }
  .dropdown.shape {
    width: 100%;
    margin-left: 0%;
  }
}

@media (max-width: 767px) {
  .upload-box {
    padding-right: 20px;
    padding-left: 20px;
  }
  .done-bb.green {
    margin-top: 20px;
  }
}

@media (max-width: 479px) {
  .upload-box {
    padding-right: 10px;
    padding-left: 10px;
  }
  .text.tool {
    display: none;
  }
  .diy-tool-card {
    text-align: center;
  }
  .diy-color-box {
    display: inline-block;
    width: 100%;
    margin-right: 0px;
    float: none;
  }
  .diy-color-box.mini {
    width: 100%;
  }
  .custom-box {
    width: 100%;
    height: 300px;
  }
  .obj-icon {
    margin-right: 0px;
  }
  .footer-diy {
    text-align: center;
  }
}